# Removing git submodule

This removes the pathfinder-pm-pro submodule from this repository. Please ensure to run `git rm --cached pathfinder-pm-pro` locally after this commit, as this will only remove the reference from .gitmodules and the index.